---
import Alpine from 'alpinejs';

const Search = () => {
  return (
    <div x-data="{ query: '', results: [] }">
      <input
        type="text"
        x-model="query"
        placeholder="Search..."
        class="px-4 py-2 border rounded-md"
      />
      <ul>
        <template x-for="result in results" :key="result.id">
          <li>
            <a :href="result.url" x-text="result.title"></a>
          </li>
        </template>
      </ul>
    </div>
  );
};

export default Search;
